<!DOCTYPE html>
<html>
  <head>
    <title>Bookmark Manager</title>
  </head>

  <body>
    <% current_user = nil %>
    <% if current_user %>
      Welcome, <%= current_user.email %>
    <% end %>
    <%= yield %>
  </body>
</html>